.advantages {
  background-color: $base-grey-background;

  @include tablet {
    position: relative;
    overflow: hidden;
  }
}

.advantages__intro-container {
  width: 100%;
  padding-top: 39px;
  padding-bottom: 33px;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  background-color: $base-white;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 82px;
    clip-path: polygon(0 0, 100% 0, 100% 81.5%, 0% 100%);
  }

  @include desktop {
    padding-top: 62px;
    padding-bottom: 151px;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
  }
}

.advantages__intro-text {
  margin: 0;
  text-align: center;
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 0;
    line-height: 55px;
  }

  @include desktop {
    line-height: 68px;
  }
}

.advantages__list {
  @include clear-list;
  padding-top: 50px;

  @include tablet {
    margin-left: 300px;
    padding-top: 22px;
    margin-right: -7px; // PP
  }

  @include desktop {
    margin-left: 0;
    margin-top: 185px;
    margin-bottom: 59px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;

  img {
    display: none;
  }

  &:not(:last-child) {
    margin-bottom: 31px;

    @include tablet {
      margin-bottom: 34px;
    }

    @include desktop {
      margin: 0;
    }
  }

  &:last-child {
    @include tablet {
      margin-bottom: 44px;
    }

    @include desktop {
      margin: 0;
    }
  }

  &:last-child img {
    order: 2;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 41px;

    @include tablet {
      margin-top: 0;
      position: absolute;
      top: auto;
      left: 20px;
      bottom: -62px;
      width: 268px;
      height: auto;
    }
  }

  @include tablet {
    text-align: start;
  }

  @include desktop {
    position: relative;
    flex: 1;
    overflow: visible;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      display: block;
      height: 17px;
      background: linear-gradient(90deg, rgba($base-black, 0) 0%, $base-black 49.8%, rgba($base-black, 0) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
    }

    img,
    &:last-child img {
      order: 0;
      display: block;
      position: absolute;
      top: -301px;
      left: 50%;
      width: auto;
      height: 382px;
      transform: translateX(-50%);
    }
  }
}

.advantages__text {
  padding-inline: 10px;
  background-color: $base-grey-background;

  @include desktop {
    position: relative;
    padding-inline: 30px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  color: $base-black;

  @include desktop {
    margin-top: 56px;
    padding-inline: 11px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__description {
  margin: 0;

  @include desktop {
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
