.button {
  padding: 15px 14px 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $base-white;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $base-green;
  border-radius: 1px;
  background-color: $base-green;

  @include tablet {
    min-width: 296px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $base-darkgreen;
    border-color: $base-darkgreen;
  }

  &:active {
    color: rgba($base-white, 0.3);
  }

  &:disabled {
    background-color: $base-grey;
    border-color: $base-grey;
  }
}
