.control {
  input:focus ~ &__label::before {
    border-color: $base-background;
  }

  input:active ~ &__label::before {
    border-color: $base-red;
  }

  input:checked ~ &__label--check::after {
    display: block;
  }

  input:checked ~ &__label--radio::before {
    box-shadow: inset 0 0 0 10px $base-white;
  }
}

.control__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;

  &::before {
    flex: none;
    content: "";
    display: block;
    margin-right: 20px;
    border: 2px solid $base-grey;
    background-color: $base-white;
  }

  &:hover {
    cursor: pointer;

    &::before {
      border-color: $base-background;
    }
  }

  &:active::before {
    border-color: $base-red;
  }

  &--check {
    &::before {
      width: 39px;
      height: 39px;
      border-radius: 1px;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 50%;
      left: 8px;
      width: 22px;
      height: 16px;
      transform: translateY(-50%);
      background: url("data:image/svg+xml,%3Csvg width='31' height='21' viewBox='0 0 31 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.5559 0.429509C30.4134 0.293412 30.2439 0.185389 30.0571 0.111671C29.8703 0.0379536 29.67 0 29.4676 0C29.2653 0 29.065 0.0379536 28.8782 0.111671C28.6914 0.185389 28.5219 0.293412 28.3794 0.429509L10.3744 17.4958L2.5777 10.1097C2.28714 9.85325 1.90283 9.71362 1.50573 9.72025C1.10864 9.72689 0.72977 9.87928 0.448939 10.1453C0.168108 10.4114 0.00724504 10.7703 0.0002388 11.1464C-0.00676744 11.5226 0.140631 11.8867 0.41138 12.1619L9.29124 20.5741C9.4331 20.7094 9.60187 20.8167 9.7878 20.8898C9.97372 20.9629 10.1731 21.0004 10.3744 21C10.7806 20.9986 11.1698 20.8456 11.4576 20.5741L30.5559 2.48172C30.8405 2.20822 31 1.83963 31 1.45561C31 1.0716 30.8405 0.703003 30.5559 0.429509Z' fill='%23d22856'/%3E%3C/svg%3E") no-repeat;
      background-size: contain;
    }
  }

  &--radio {
    &::before {
      margin-right: 30px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $base-red;
      box-shadow: inset 0 0 0 20px $base-white;

      @media (min-width: $tablet-width) {
        margin-right: 21px;
      }
    }
  }
}
