.contest-form {
  width: 100%;
  padding: 0;

  @include tablet {
    margin-top: 38px;
    display: grid;
    grid-template-columns: 1fr;
  }

  @include desktop {
    margin-top: 71px;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    max-width: 980px;
  }
}

.contest-form__fieldset {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 42px;
  margin-inline: 0;
  padding-inline: 20px;
  border: none;

  @include tablet {
    padding-inline: 58px;

    &:first-of-type {
      padding-inline: 20px;
    }

    &:not(:first-of-type) {
      margin-inline: 20px;
      margin-bottom: 58px;
      border: 2px solid $base-grey;
    }
  }

  @include desktop {
    grid-column: 1 / -1;
    padding-top: 34px;
  }

  legend {
    position: relative;
    top: 57px;
    margin: 0 auto;
    padding: 0 31px;
    line-height: 18px;
    color: $base-red;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      position: static;
    }
  }
}

.contest-form__text-field {
  &:not(:first-of-type) {
    margin-top: 18px;

    @include tablet {
      margin-top: 53px;
    }

    @include desktop {
      margin-top: 54px;
    }
  }

  &--with-icon {
    @media (min-width: $tablet-width) {
      position: relative;
      flex-direction: column;
      align-items: flex-start;

      &:not(:first-of-type) {
        margin-top: 28px;
      }
    }

    @media (min-width: $desktop-width) {
      flex: 1;

      &:not(:first-of-type) {
        margin-top: 0;
        margin-left: 74px;
      }
    }

    span {
      @media (min-width: $tablet-width) {
        order: 2;
        margin: 12px 0 0 19px;
      }

      @media (min-width: $desktop-width) {
        margin: 10px 0 0 18px;
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        display: block;
        width: 59px;
        height: 59px;
        background-color: $base-grey;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &--phone-icon {
    &::after {
      @media (min-width: $tablet-width) {
        background-image: url("../img/phone-icon.svg");
      }
    }
  }

  &--mail-icon {
    &::after {
      @media (min-width: $tablet-width) {
        background-image: url("../img/mail-icon.svg");
      }
    }
  }
}

.contest-form__check-list {
  @include clear-list;
  margin-top: 59px;

  @include tablet {
    margin-top: 40px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
    row-gap: 45px;
    column-gap: 57px;
  }
}

.contest-form__check-item {
  color: $base-text;

  &:not(:first-child) {
    margin-top: 43px;

    @include desktop {
      margin-top: 0;
    }
  }
}

.contest-form__radio-list {
  @include clear-list;
  margin-top: 56px;

  @include tablet {
    margin-top: 10px;
  }

  @include desktop {
    padding-inline: 72px;
  }
}

.contest-form__radio-item {
  color: $base-text;

  &:not(:first-child) {
    margin-top: 35px;

    @include tablet {
      margin-top: 34px;
    }

    @include desktop {
      margin-top: 36px;
    }
  }
}

.contest-form__textarea {
  margin-top: 16px;
  height: 201px;
  color: $base-text;

  @include tablet {
    margin-top: 0;
    height: 193px;
  }

  @include desktop {
    margin-top: 0;
    height: 128px;
  }

  &::placeholder {
    color: $base-text;
  }
}

.contest-form__user-info {
  padding-bottom: 26px;

  @include tablet {
    order: 1;
    width: 100%;
    padding-bottom: 59px;
  }

  @include desktop {
    grid-column: 1 / 2;
    width: auto;
    padding-top: 14px;
  }
}

.contest-form__user-achievements {
  background-color: $base-grey-background;

  @include tablet {
    order: 4;
    padding-top: 3px;
    padding-bottom: 49px;
    background-color: $base-white;
  }

  @include desktop {
    padding-bottom: 55px;
  }
}

.contest-form__user-contacts {
  padding-top: 32px;
  padding-bottom: 26px;

  @include tablet {
    order: 3;
    padding-top: 36px;
    padding-bottom: 28px;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 59px;
    padding-top: 33px;
    padding-bottom: 13px;
  }

  legend {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.contest-form__user-platform {
  background-color: $base-grey-background;

  @include tablet {
    order: 2;
    padding-bottom: 53px;
    background-color: $base-white;
  }

  @include desktop {
    grid-column: 2 / -1;
    padding-bottom: 54px;
    padding-inline: 0;
  }
}

.contest-form__user-emotions {
  padding-top: 37px;
  padding-bottom: 42px;

  @include tablet {
    order: 5;
    padding-top: 36px;
    padding-bottom: 51px;
  }

  @include desktop {
    padding-top: 33px;
    padding-bottom: 43px;
  }

  legend {
    top: 37px;
  }

  .text-field {
    line-height: 0;
  }
}

.contest-form__send-button {
  width: 100%;

  @include tablet {
    width: auto;
  }
}

.contest-form__hint {
  margin: 0;
  margin-top: 34px;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    flex: 1;
    margin-top: 0;
    padding-left: 30px;
    text-align: end;
  }

  span:first-of-type {
    color: $base-red;
  }
}

.contest-form__desktop-hint-part {
  display: none;

  @include desktop {
    display: inline;
  }
}

.contest-form__send-button-wrapper {
  margin-top: 6px;
  padding-inline: 20px;

  @include tablet {
    order: 6;
    margin-top: 9px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 22px;
  }

  @include desktop {
    margin-top: 5px;
    margin-bottom: 0;
    grid-column: 1 / -1;
  }
}
