.contacts {
  padding-top: 41px;

  @include tablet {
    padding-top: 43px;
  }

  @include desktop {
    padding-top: 59px;
  }
}

.contacts__intro-text {
  margin: 0;
  text-align: center;

  @include tablet {
    line-height: 55px;
  }

  @include desktop {
    line-height: 68px;
  }
}

.contacts__list {
  @include clear-list;
  margin-top: 33px;
  margin-bottom: 35px;

  @include tablet {
    margin-top: 32px;
    margin-bottom: 23px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  @include desktop {
    margin-top: 40px;
    margin-bottom: 12px;
  }
}

.contacts__item {
  padding: 0 20px;

  &:not(:last-child) {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 41px;
      flex: auto;
      padding: 0;
    }
  }

  @include tablet {
    max-width: 270px;
  }

  @include desktop {
    &--phone {
      order: 1;
    }

    &--address {
      order: 2;
    }

    &--mail {
      order: 3;
    }
  }
}

.contacts__title {
  margin: 0;
  text-align: center;
}

.contacts__contact-point {
  display: block;
  color: $base-red;
  text-align: center;
  text-decoration-line: none;

  @include tablet {
    margin-top: 5px;
    font-size: 24px;
    line-height: 33px;
  }

  @include desktop {
    margin-top: 21px;
  }

  &--link:hover,
  &--link:focus,
  &--link:active {
    text-decoration-line: underline;
    color: $base-text;
  }

  &--link:active {
    opacity: 0.3;
  }
}

.contacts__map-wrapper {
  display: flex;
  clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
  background: url("../img/map-mobile.png") no-repeat;
  background-size: contain;

  @include retina {
    background-image: url("../img/map-mobile@2x.png");
  }

  @include tablet {
    clip-path: polygon(50% 18%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-image: url("../img/map-tablet.png") no-repeat;

    @include retina {
      background-image: url("../img/map-tablet@2x.png");
    }
  }

  @include desktop {
    clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-image: url("../img/map-desktop.png") no-repeat;

    @include retina {
      background-image: url("../img/map-desktop@2x.png");
    }
  }

  iframe {
    width: 100%;
    min-height: calc(100vw * 0.63);

    @include tablet {
      min-height: calc(100vw * 0.57);
    }

    @include desktop {
      min-height: unset;
      height: 502px;
    }
  }
}
