.contest-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
}

.contest-section__title {
  margin: 0;

  @include tablet {
    max-width: 530px;
    font-size: 18px;
  }

  @include desktop {
    max-width: 756px;
  }

  span {
    display: none;

    @include tablet {
      display: inline;
    }
  }
}
