.download-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding-top: 28px;
  padding-bottom: 38px;
  background-color: $base-transparent;

  @include tablet {
    width: 300px;
  }
}

.download-shop__link {
  width: 100%;
  text-decoration: none;

  @include desktop {
    font-size: 21px;
  }
}

.download-shop__list {
  @include clear-list;
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.download-shop__item {
  display: flex;
  height: 100%;
  align-items: center;

  &:not(:last-child) {
    margin-right: 35px;
  }

  a {
    display: block;
    line-height: 0;
  }
}

.download-shop__shop-hint {
  margin: 0;
  margin-top: 14px;
  font-weight: 300;
  color: $base-white;
  text-align: center;

  @include tablet {
    font-size: 18px;
  }
}
