.intro-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  &--high {
    line-height: 33px;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
