.main-nav {
  background-color: rgba($base-black, 0.3);

  &--opened {
    background-color: $base-background;
  }
}

.main-nav__top-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 21px 20px;

  &--opened {
    padding-right: 13px;
    background-color: $base-background;
    box-shadow: 0 1px 0 $base-black;
  }

  @include tablet {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

.main-nav__logo {
  font-size: 0;
}

.main-nav__logo-icon {
  display: none;
  cursor: pointer;

  &:hover,
  &:focus {
    path {
      fill: $base-red;
    }
  }

  &:active {
    path {
      fill: $base-white;
      opacity: 0.3;
    }
  }

  @include tablet {
    display: inline;
  }

  &--mobile {
    display: inline;

    @include tablet {
      display: none;
    }
  }
}

.main-nav__toggle {
  padding: 0;
  width: 50px;
  height: 24px;
  border: none;
  background-color: $base-transparent;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  .main-nav__close-icon {
    display: none;
  }

  &--active {
    width: 43px;
    height: 23px;

    .main-nav__open-icon {
      display: none;
    }

    .main-nav__close-icon {
      display: inline;
    }
  }

  @include desktop {
    display: none;
  }
}

.main-nav__toggle-icon {
  &:hover path,
  &:focus path {
    fill: $base-red;
  }
}

.main-nav__list {
  @include clear-list;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: $base-background;

  &--opened {
    display: block;
  }

  @include desktop {
    position: static;
    display: flex;
    justify-content: flex-end;
    width: 770px;
    background-color: $base-transparent;
  }
}

.main-nav__list-item {
  margin-top: 1px;

  @include desktop {
    &:not(:first-child) {
      margin-left: 79px;
    }
  }

  &--current {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $base-white;
    text-underline-offset: 15px;
  }

  a {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: $base-white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $base-background;
    box-shadow: 0 1px 0 $base-black, inset 0 1px 0 $base-shadow;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $base-red;
    }

    &:active {
      opacity: 0.3;
    }

    @include desktop {
      font-weight: 400;
      line-height: 18px;
      padding: 0;
      box-shadow: none;
      background-color: $base-transparent;
      text-transform: initial;
    }
  }
}
