.main-nav {
  background-color: rgba($base-black, 0.3);
  position: relative;

  &--opened,
  &--nojs {
    background-color: $base-background;

    .main-nav__top-container {
      padding-right: 13px;
      background-color: $base-background;
      box-shadow: 0 1px 0 $base-black;
    }

    .main-nav__list {
      display: block;
    }
  }

  &--nojs {
    padding-bottom: 252px;

    @include desktop {
      padding-bottom: 0;
      background-color: rgba($base-black, 0.3);
    }

    .main-nav__top-container {
      padding-right: 0;
      background-color: $base-transparent;
      box-shadow: none;
    }

    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      top: 65px;

      @media (min-width: $tablet-width) {
        top: 110px;
      }

      @media (min-width: $desktop-width) {
        display: flex;
      }
    }
  }
}

.main-nav__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 13px 20px;

  @include tablet {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

.main-nav__logo {
  line-height: 0;
  cursor: pointer;
  overflow: hidden;
}

.main-nav__logo-icon {
  color: $base-white;
  fill: $base-white;
  transform: translate(-71px, -8px);

  &:hover,
  &:focus {
    color: $base-red;
    fill: $base-red;
  }

  &:active {
    color: $base-white;
    fill: $base-white;
    opacity: 0.3;
  }

  @include tablet {
    transform: translate(0, 0);
  }

  @include desktop {
    display: none;
  }

  &--desktop {
    display: none;
    fill: $base-red;

    &:active {
      fill: $base-red;
    }

    @include desktop {
      display: block;
    }
  }
}

.main-nav__toggle {
  position: relative;
  width: 50px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: $base-transparent;
  cursor: pointer;

  @include tablet {
    align-self: flex-end;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $base-white;
    border-radius: 1px;
    box-shadow: 0 10px 0 0 $base-white, 0 20px 0 0 $base-white;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $base-red;
      box-shadow: 0 10px 0 0 $base-red, 0 20px 0 0 $base-red;
    }
  }

  &--active {
    width: 43px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 32px;
      height: 2px;
      background-color: $base-white;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
      box-shadow: none;
    }

    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
      background-color: $base-red;
    }

    &:hover::after,
    &:focus::after {
      box-shadow: none;
    }
  }

  @include desktop {
    display: none;
  }
}

.main-nav__list {
  @include clear-list;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: $base-background;

  @include desktop {
    position: static;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 4px; // PP
    width: 770px;
    background-color: $base-transparent;
  }
}

.main-nav__list-item {
  margin-top: 1px;

  @include desktop {
    &:not(:first-child) {
      margin-left: 79px;
    }
  }

  &--current {
    @include tablet {
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: $base-white;
      text-underline-offset: 13px;
    }
  }

  a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: $base-white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $base-background;
    box-shadow: 0 1px 0 $base-black, inset 0 1px 0 $base-shadow;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $base-red;
    }

    &:active {
      opacity: 0.3;
    }

    @include desktop {
      font-weight: 400;
      line-height: 18px;
      padding: 0;
      box-shadow: none;
      background-color: $base-transparent;
      text-transform: initial;
    }
  }
}
