.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 66px;
  background-color: rgba($base-black, 0.3);

  &--opened {
    background-color: $base-background;
  }
}

.main-nav__top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 66px;

  padding: 0 20px;

  &--opened {
    padding-right: 13px;
    background-color: $base-background;
    box-shadow: 0 1px 0 $base-black;
  }
}

.main-nav__logo {
  &:hover path,
  &:focus path {
    fill: $base-red;
  }

  &:active path {
    fill: $base-white;
    opacity: 0.3;
  }
}

.main-nav__toggle {
  padding: 0;
  width: 50px;
  height: 24px;
  border: none;
  background-color: $base-transparent;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  & .main-nav__close-icon {
    display: none;
  }

  &--active {
    width: 43px;
    height: 23px;

    & .main-nav__open-icon {
      display: none;
    }

    & .main-nav__close-icon {
      display: inline;
    }
  }
}

.main-nav__toggle-icon {
  &:hover path,
  &:focus path {
    fill: $base-red;
  }
}

.main-nav__list {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 66px;
  background-color: $base-background;

  &--opened {
    display: flex;
  }
}

.main-nav__list-item {
  flex: 1;
  margin-top: 1px;

  & a {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    color: $base-white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $base-background;
    box-shadow: 0 1px 0 $base-black, inset 0 1px 0 $base-shadow;

    &:hover,
    &:focus {
      color: $base-red;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
