.modal {
  padding-top: 44px;
  padding-bottom: 52px;
  background-color: $base-white;
  box-shadow: 0 7px 15px $drop-shadow;
  border-radius: 1px;

  &--big {
    padding-bottom: 0;
  }
}

.modal__content {
  padding: 0 20px;
}

.modal__title {
  margin: 0;
  margin-bottom: 37px;
  text-align: center;
}

.modal__description {
  margin: 0;
  color: $base-text;
  text-align: center;
}

.modal__button {
  display: block;
  margin: 50px auto 0;
  width: 100%;
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 1px 1px;
  padding-left: 22px;
  padding-right: 22px;

  &--big {
    padding-top: 52px;
    padding-bottom: 52px;
    margin-top: 41px;
    background: $base-grey-background;

    .modal__button {
      margin: 0 auto;
    }
  }
}
