.page-footer {
  padding-top: 39px;
  padding-bottom: 39px;

  @include tablet {
    display: grid;
    grid-template-columns: 147px auto 149px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 35px;
  }

  @include desktop {
    grid-template-columns: 155px auto 155px;
    padding-top: 67px;
    padding-bottom: 70px;
  }
}


.page-footer__logo {
  display: block;
  text-align: center;
  line-height: 0;
  cursor: pointer;

  &:hover path,
  &:focus path {
    fill: $base-red;
  }

  &:active {
    opacity: 0.3;

    path {
      fill: $base-text;
    }

    path:nth-child(2) {
      fill: $base-red;
    }
  }

  @include tablet {
    margin-bottom: 18px;
  }

  @include desktop {
    justify-self: flex-start;
  }
}

.page-footer__logo-icon {
  color: $base-text;
  fill: $base-red;

  &:hover,
  &:focus {
    color: $base-red;
  }

  &:active {
    color: $base-text;
    opacity: 0.3;
  }

  @include desktop {
    display: none;
  }

  &--desktop {
    display: none;
    fill: $base-red;

    &:active {
      fill: $base-red;
    }

    @include desktop {
      display: block;
    }
  }
}

.page-footer__socials {
  margin: 34px auto 0;
  flex-wrap: wrap;

  @include tablet {
    margin: 0 20px;
  }
}

.page-footer__produced-by {
  margin-top: 33px;

  @include tablet {
    margin-top: 0;
    margin-left: 15px;
  }

  @include desktop {
    margin-left: 0;
  }
}
