.page-main {
  // add styles
}

.page-main__title-wrapper {
  padding-top: 36px;
  min-height: 171px;
  background: url("../img/back-tablet.jpg") top no-repeat;
  background-size: cover;

  @include tablet {
    min-height: 329px;
  }

  @include desktop {
    min-height: 284px;
    background-position: center;
  }
}

.page-main__title {
  margin: 0;
  color: $base-white;
  text-align: center;

  @include tablet {
    font-size: 50px;
    line-height: 68px;
  }
}
