.page-main__title-wrapper {
  padding-top: 36px;
  min-height: 171px;

  @include tablet {
    min-height: 329px;
  }

  @include desktop {
    min-height: 284px;
  }

  &--inner {
    padding-top: 28px;
    padding-bottom: 28px;

    @include tablet {
      padding-top: 66px;
      padding-bottom: 33px;
    }

    @include desktop {
      padding-top: 59px;
      padding-bottom: 40px;
    }
  }
}

.page-main__title {
  margin: 0;
  color: $base-white;
  text-align: center;

  @include tablet {
    font-size: 50px;
    line-height: 68px;
  }
}
