.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @include desktop {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}


.page-footer__logo {
  display: block;
  text-align: center;
  line-height: 0;

  &:hover,
  &:active {
    cursor: pointer;
  }

  &:hover path,
  &:focus path {
    fill: $base-red;
  }

  &:active {
    opacity: 0.3;

    path {
      fill: $base-text;
    }

    path:nth-child(2) {
      fill: $base-red;
    }
  }

  @include tablet {
    margin-bottom: 18px;
  }
}

.page-footer__socials {
  margin: 41px auto 0;

  @include tablet {
    margin: 0;
  }
}

.page-footer__produced-by {
  margin-top: 41px;

  @include tablet {
    margin: 0;
  }
}
