.photo-section {
  padding: 44px 0 42px;
  background-color: $base-white;

  @include tablet {
    padding: 92px 0 70px;
  }

  @include desktop {
    padding-bottom: 65px;
  }
}

.photo-section__title {
  margin: 0;
  padding-inline: 13px;

  @include tablet {
    font-size: 18px;
    padding-inline: 25px;

    br {
      display: none;
    }
  }

  @include desktop {
    br {
      display: initial;
    }
  }
}

.photo-section__list {
  margin-top: 50px;
  margin-bottom: 39px;

  @include tablet {
    margin-top: 77px;
    margin-bottom: 64px;
  }

  @include desktop {
    margin-top: 88px;
    margin-bottom: 60px;
  }
}
