.post-block {
  background-color: $base-grey-background;

  @include desktop {
    padding-bottom: 30px;
    background-color: $base-white;
  }
}

.post-block__container {
  padding-top: 20px;
  padding-bottom: 41px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @include desktop {
    width: 940px;
    background-color: $base-grey-background;
    padding: 47px 60px 57px 80px;
  }
}

.post-block__photo {
  display: block;
  line-height: 0;

  @include tablet {
    margin-right: 49px;
  }

  @include desktop {
    margin-right: 90px;
    margin-top: 10px;
  }
}

.post-block__image {
  width: 280px;
  height: 374px;

  @include tablet {
    width: 300px;
    height: 400px;
  }
}

.post-block__form {
  @include tablet {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.post-block__range-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 127px;
  padding-top: 42px;

  @include tablet {
    flex-direction: column;
    padding-top: 0;
    justify-content: space-between;
  }
}

.post-block__control {
  margin: 0;
  padding: 0;
  border: none;

  margin-inline: 17px;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-inline: 0;
    flex-direction: row;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 23px;
    border-bottom: 1px solid rgba($base-background, 0.1);
  }

  @include desktop {
    padding-top: 2px; // PP
    padding-bottom: 7px;
  }

  &:not(:first-of-type) {
    @include tablet {
      margin-left: 0;
      padding-top: 24px;
    }

    @include desktop {
      padding-top: 9px;
    }
  }

  &:last-of-type {
    @include desktop {
      border-bottom: none;
    }
  }

  input {
    display: none;
    position: absolute;
    left: 20px;
    bottom: 0;

    @include tablet {
      display: inline-block;
      position: static;
    }
  }

  &--current {
    input {
      display: inline-block;
    }
  }
}

.post-block__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  background-color: $base-transparent;
  border: none;
  cursor: pointer;
  width: 44px;
  height: 44px;

  @include tablet {
    width: 23px;
    height: 23px;
    margin-right: 30px;
  }

  @include desktop {
    width: 55px;
    height: 55px;
    margin-right: 44px;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  path {
    fill: $base-background;
    opacity: 0.3;

    @include tablet {
      fill: $base-red;
      opacity: 1;
    }
  }

  &--current {
    path {
      fill: $base-red;
      opacity: 1;
    }
  }
}

.post-block__range {
  @include tablet {
    margin-right: 18px;
  }

  @include desktop {
    margin-right: 30px;
  }
}

.post-block__buttons-container {
  margin-top: 34px;
  position: relative;
  left: -20px;
  width: 100vw;
  padding-inline: 20px;
  padding-top: 38px;
  border-top: 1px solid rgba($base-background, 0.1);

  @include tablet {
    left: 0;
    width: 100%;
    border-top: none;
    margin-top: 0;
    padding-inline: 0;
    padding-right: 13px;
  }

  @include desktop {
    display: flex;
    padding-right: 0;
  }
}

.post-block__submit-button {
  width: 100%;

  @include tablet {
    margin-top: auto;
  }

  @include desktop {
    flex: 1;
    margin-right: 44px;
  }
}

.post-block__cancel-button {
  margin-top: 12px;
  width: 100%;
  color: $base-text;
  border-color: $base-background;
  opacity: 0.1;

  &:hover,
  &:focus {
    color: $base-text;
    background-color: $base-transparent;
    opacity: 0.3;
  }

  &:active {
    color: $base-white;
    background-color: $base-background;
    opacity: 0.3;
  }

  @include tablet {
    margin-top: 22px;
  }

  @include desktop {
    flex: 1;
  }
}
