.produced-by {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;

  @include desktop {
    font-size: 18px;
  }
}

.produced-by__logo {
  margin-left: 15px;

  &:hover path,
  &:focus path {
    fill: $base-text;
  }

  &:active {
    opacity: 0.3;
  }
}
