.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 667px;
  background: url("../img/phone-mobile.png") no-repeat;
  background-position: bottom 271px left;
  background-size: auto 286px;

  @include retina {
    background-image: url("../img/phone-mobile@2x.png");
  }

  @include tablet {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 619px;
    background-image: url("../img/phone-tablet.png");
    background-size: auto 545px;
    background-position: right bottom;

    @include retina {
      background-image: url("../img/phone-tablet@2x.png");
    }
  }

  @include desktop {
    background-image: url("../img/phone-desktop.png");
    background-size: auto 645px;
    background-position: calc(50% + 171px) bottom;
    min-height: 743px;

    @include retina {
      background-image: url("../img/phone-desktop@2x.png");
    }
  }
}

.promo__content-wrapper {
  flex: 1;
  margin-top: 25px;

  @include tablet {
    margin-top: 94px;
    flex-grow: 0;
    width: 100%;
  }

  @include desktop {
    margin-top: 99px;
    width: 980px;
  }
}

.promo__slogan {
  margin: 0;
  max-width: 280px;
  color: $base-white;
  text-align: center;

  @include tablet {
    margin-left: 10px;
    padding-inline: 20px;
    line-height: 48px;
  }

  @include desktop {
    line-height: 68px;
  }
}

.promo__download-shop {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $base-dark-background;

  @include tablet {
    width: 100%;
    justify-content: flex-start;
    background-color: $base-transparent;
  }

  @include desktop {
    width: 980px;
  }
}
