/* stylelint-disable property-no-vendor-prefix */
@mixin track {
  height: 2px;
  cursor: pointer;
  background: $base-background;
}

@mixin thumb {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid $base-red;
  border-radius: 50%;
  background: $base-white;
  cursor: pointer;
  -webkit-appearance: none;
  transform: translateY(-40%);

  &:active {
    background: $base-red;
  }
}

.range {
  -webkit-appearance: none;
  width: 86%;
  height: 2px;
  margin: 0;

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      outline: 1px solid $base-background;
      box-shadow: 0 0 8px $base-red;
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
    transform: translateY(0);
  }
}
/* stylelint-enable property-no-vendor-prefix */
