.research {
  display: none;

  @include tablet {
    display: block;
    padding-top: 54px;
    padding-bottom: 54px;
    background-color: $base-white;
  }

  @include desktop {
    padding-top: 8px;
    padding-bottom: 68px;
    background-color: $base-grey-background;
  }
}

.research__container {
  @include tablet {
    display: grid;
    grid-template-columns: 238px 1fr;
    gap: 72px;
  }

  @include desktop {
    grid-template-columns: 298px 1fr;
    gap: 71px;
  }

  &::before {
    @include tablet {
      content: "";
      display: block;
      width: 238px;
      height: 276px;
      background: url("../img/timer.svg") no-repeat;
      background-size: contain;
    }

    @include desktop {
      width: 298px;
      height: 345px;
    }
  }
}

.research__text {
  @include tablet {
    padding-top: 42px;
    padding-bottom: 29px;
  }

  @include desktop {
    margin-top: auto;
    padding-top: 0;
    padding-bottom: 45px;
    padding-right: 36px;
  }
}

.research__title {
  margin: 0;

  @include tablet {
    font-size: 30px;
    line-height: 36px;
  }

  @include desktop {
    line-height: 30px;

    br {
      display: none;
    }
  }
}

.research__description {
  margin: 0;

  @include tablet {
    margin-top: 10px;
    padding-right: 10px;
  }

  @include desktop {
    margin-top: 26px;
    font-size: 18px;
    line-height: 30px;

    br {
      display: none;
    }
  }
}

.research__link {
  @include tablet {
    margin-top: 10px;
    display: block;
    color: $base-red;
  }

  @include desktop {
    margin-top: 28px;
    font-size: 18px;
    line-height: 30px;
  }
}
