.reviews-slider {
  position: relative;

  @include desktop {
    &::before {
      content: "";
      position: absolute;
      top: 72px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 79px;
      height: 63px;
      background: url("data:image/svg+xml,%3Csvg width='79' height='63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.147 6.973L30.839 0C28.389 1.481 0 12.059 0 39.13 0 46.27.341 63 18.98 63c11.236 0 13.998-10.153 13.998-13.422 0-21.727-21.47-13.994-21.47-13.994 0-17.807 19.883-26.518 23.639-28.611zM79 6.973L74.732 0c-2.43 1.481-30.849 12.059-30.849 39.13 0 7.14.342 23.87 18.99 23.87C74.1 63 76.86 52.847 76.86 49.578c0-21.727-21.47-13.994-21.47-13.994C55.391 17.777 75.315 9.066 79 6.973z' fill='%23EFEFEF'/%3E%3C/svg%3E") no-repeat;
      background-size: contain;
    }
  }
}

.reviews-slider__item {
  display: none;

  &--current {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      order: 2;
      padding-top: 39px;
    }
  }
}

.reviews-slider__button {
  display: none;
  color: $base-text;
  opacity: 0.3;

  @include desktop {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: $base-transparent;
    border: none;
    cursor: pointer;
    padding-bottom: 39px;

    &:first-of-type {
      order: 1;
    }

    &:last-of-type {
      order: 3;
    }

    &--next {
      transform: rotate(180deg);
      padding-bottom: 0;
      padding-top: 39px;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
