.socials {
  @include clear-list;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item {
  display: inline-flex;
  margin-block: 4px;

  &:not(:first-child) {
    margin-left: 8px;
  }

  &:nth-child(1) .socials__link {
    background-image: url("../img/twitter.svg");
  }

  &:nth-child(2) .socials__link {
    background-image: url("../img/facebook.svg");
  }

  &:nth-child(3) .socials__link {
    background-image: url("../img/youtube.svg");
  }
}

.socials__link {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 3px solid rgba($base-background, 0.1);
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    border-color: $base-background;
  }

  &:active {
    border-color: rgba($base-background, 0.1);
    opacity: 0.3;
  }
}
