.tariffs {
  padding-top: 101px;
  padding-bottom: 48px;
  background-color: $base-grey-background;
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);

  @include tablet {
    padding-top: 98px;
    padding-bottom: 68px;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
  }

  @include desktop {
    padding-top: 157px;
    padding-bottom: 96px;
    clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);
  }
}

.tariffs__table {
  border-collapse: collapse;
  background-color: $base-white;
  table-layout: fixed;
  width: 100%;
  margin-left: -100%;

  th {
    border: 2px solid $base-white;
    border-top: none;
    border-bottom: none;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }

    @include tablet {
      padding: 11px 22px;
    }

    @include desktop {
      padding: 21px 22px;
    }
  }

  td {
    padding: 14px 20px;
    border: 2px solid $base-grey;
    border-radius: 1px 0 0 0;

    &:not(:first-child) {
      border-top: none;
    }

    @include tablet {
      padding: 7px 15px;
    }

    @include desktop {
      padding: 14px 22px;
    }
  }

  @include tablet {
    margin-left: 0;
  }
}

.tariffs__table .tariffs__empty-cell {
  border: none;
  background-color: $base-grey-background;
}

.tariffs__header-item {
  width: calc(100vw - 40px);
  padding-top: 12px;
  padding-bottom: 29px;
  color: $base-white;
  background-color: $base-background;

  @include tablet {
    width: auto;
    padding: 23px 15px;
  }

  &[data-hit] {
    position: relative;
    overflow: hidden;

    &::before {
      content: attr(data-hit);
      position: absolute;
      left: -48px;
      top: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 23px;
      font-size: 14px;
      line-height: 30px;
      transform: rotate(-45deg);
      text-transform: uppercase;
      background-color: $base-red;

      @media (min-width: $tablet-width) {
        left: -55px;
        top: 14px;
        height: 20px;
      }

      @media (min-width: $desktop-width) {
        left: -47px;
        top: 21px;
      }
    }
  }
}

.tariffs__name {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

  @include desktop {
    font-size: 18px;
    margin-top: -4px; // PP
  }
}

.tariffs__price {
  margin-top: -3px; // PP
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;

  @include desktop {
    margin-top: 0;
    font-size: 24px;
  }
}

.tariffs__functionality {
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include tablet {
    text-transform: none;
  }

  @include desktop {
    font-size: 18px;
  }
}

.tariffs__availability {
  position: relative;

  span:first-of-type {
    display: inline-block;
    padding-right: 30px;
    line-height: 30px;
    text-transform: uppercase;

    @include tablet {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    display: block;
    width: 31px;
    height: 31px;
    background: url("data:image/svg+xml,%3Csvg width='27' height='27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.644 13.507l10.91-10.92a1.503 1.503 0 000-2.14 1.524 1.524 0 00-2.14 0l-10.909 10.92L2.586.447a1.504 1.504 0 00-2.14 0 1.524 1.524 0 000 2.14l10.92 10.92-10.92 10.91a1.503 1.503 0 000 2.139 1.514 1.514 0 002.14 0l10.919-10.91 10.909 10.91a1.514 1.514 0 002.14-2.14l-10.91-10.91z' fill='%23F25B26'/%3E%3C/svg%3E") no-repeat;
    background-position: center;

    @include tablet {
      position: static;
      transform: translateY(0);
      margin: 0 auto;
      background-position-x: center;
    }
  }

  &--included {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='31' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.56.43a1.54 1.54 0 00-1.1-.43 1.6 1.6 0 00-1.08.43l-18 17.07-7.8-7.39a1.58 1.58 0 00-2.13.04c-.28.26-.44.62-.45 1 0 .37.14.74.41 1.01l8.88 8.41a1.53 1.53 0 001.08.43c.41 0 .8-.15 1.09-.43l19.1-18.09c.28-.27.44-.64.44-1.02 0-.39-.16-.76-.44-1.03z' fill='%233DC644'/%3E%3C/svg%3E");
    }
  }
}

.tariffs__slider {
  overflow: hidden;
}

.tariffs__toggles {
  margin: 0;
  margin-top: 40px;

  @include tablet {
    display: none;
  }
}
