.tariffs {
  padding-top: 104px;
  padding-bottom: 49px;
  background-color: $base-grey-background;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);

  @include tablet {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  @include desktop {
    padding-top: 159px;
    padding-bottom: 98px;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
  }
}

.tariffs__table {
  border-collapse: collapse;
  background-color: $base-white;
  table-layout: fixed;
  width: 100%;
  margin-left: -100%;

  th {
    border: 2px solid $base-white;
    border-top: none;
    border-bottom: none;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }

    @include tablet {
      padding: 8px 22px;
    }

    @include desktop {
      padding: 17px 22px;
    }
  }

  td {
    padding: 24px 20px;
    border: 2px solid $base-grey;
    border-radius: 1px 0 0 0;

    &:not(:first-child) {
      border-top: none;
    }

    @include tablet {
      width: auto;
      padding: 6px 15px;
    }

    @include desktop {
      padding: 14px 22px;
    }
  }

  @include tablet {
    margin-left: 0;
  }
}

.tariffs__table .tariffs__empty-cell {
  border: none;
  background-color: $base-grey-background;
}

.tariffs__header-item {
  width: calc(100vw - 40px);
  padding-top: 19px;
  padding-bottom: 35px;
  color: $base-white;
  background-color: $base-background;

  &[data-hit] {
    position: relative;
    overflow: hidden;

    &::before {
      content: attr(data-hit);
      position: absolute;
      left: -14%;
      top: 17%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 23px;
      line-height: 30px;
      transform: rotate(-45deg);
      text-transform: uppercase;
      background-color: $base-red;

      @media (min-width: $tablet-width) {
        left: -18%;
        top: 9%;
      }

      @media (min-width: $desktop-width) {
        left: -19%;
        top: 15%;
      }
    }
  }

  @include tablet {
    width: auto;
    padding: 23px 15px;
  }
}

.tariffs__name {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

  @include desktop {
    font-size: 18px;
  }
}

.tariffs__price {
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;

  @include desktop {
    font-size: 20px;
  }
}

.tariffs__functionality {
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include tablet {
    text-transform: none;
  }

  @include desktop {
    font-size: 18px;
  }
}

.tariffs__availability {
  &::after {
    content: "";
    display: block;
    height: 31px;
    background: url("../img/no.svg") no-repeat;
    background-position: right center;

    @include desktop {
      height: 21px;
    }

    @include tablet {
      background-position-x: center;
    }
  }

  &--included {
    &::after {
      background-image: url("../img/yes.svg");
    }
  }
}

.tariffs__slider {
  overflow: hidden;
}

.tariffs__toggles {
  margin: 0;
  margin-top: 45px;

  @include tablet {
    display: none;
  }
}
