.textarea {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $base-grey;
  border-radius: 1px;
  padding: 23px 20px;

  &::placeholder {
    text-align: center;

    @include desktop {
      text-align: start;
    }
  }

  &:hover {
    border-color: $base-background;
  }

  &:active,
  &:focus-visible {
    outline: none;
    border-color: $base-red;
  }
}
