$base-white: #ffffff;
$base-black: #000000;
$base-green: #2aab6d;
$base-darkgreen: #1c9b5e;
$base-grey: #e5e5e5;
$base-transparent: transparent;
$base-background: #283645;
$base-text: #283645;
$base-red: #d22856;
$base-dark-background: #1d2631;
$base-grey-background: #f2f2f2;
$base-shadow: rgba($base-white, 0.15);
$drop-shadow: rgba(0, 1, 1, 0.15);

$tablet-width: 660px;
$desktop-width: 1200px;
